@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 60px;
    height: 60px;
    border: 8px solid #ffffff; /* Light grey */
    border-top: 8px solid #ff8e28; /* Blue */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
    z-index: 2;
  }
  
  .spinner-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 60%;
    position:absolute;
    width: 100%;
  }

  .page-content {
    position: relative;
  }

  .mask-loader {
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }